{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Blacklist</h1>
</div>

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'thyme:snapshot-list' %}">Thyme</a></li>
    <li class="breadcrumb-item active" aria-current="page">Blacklist</li>
  </ol>
</nav>

<div class="panel panel-default">
    <div class="panel-header">{% include 'thyme/paginator.inc.html' %}</div>
    <table class="table table-bordered">
{% for object in object_list %}
        <tr>
            <td>{{ object.slug }}</td>
            <td>
                <form method="post" action="{% url 'thyme:blacklist-list' %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{object.slug}}" name="delete" />
                    <button class="btn btn-danger">Remove</button>
                </form>
            </td>
        </tr>
{% endfor %}
    </table>
    <div class="panel-footer">{% include 'thyme/paginator.inc.html' %}</div>
</div>
{% endblock %}
